
@model List<MyPortfolioUdemy.DAL.Entities.Skill>


    <style>
    .skill-bars .progress {
        position: relative;
        height: 30px;
        background: #e6e6e6;
        border-radius: 5px;
    }

        .skill-bars .progress span {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }

    .percent {
        height: 100%;
        background: #3498db;
        border-radius: 5px;
    }


    </style>
<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Teknolojiler </h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            <li>
                <div class="progress percent" style="width:@item.Value%"><span>@item.Value%</span></div>
                <strong>@item.Title</strong>
            </li>
        }
    </ul>
</div>
