@model List<MyPortfolioUdemy.DAL.Entities.Contact>

<div class="overlay"></div>
<h2>İletişim</h2>
<div class="row contact__main">
	<div class="col-eight tab-full contact__form">
		<form name="contactForm" id="contactForm" method="post" action="">
			<fieldset>

				<div class="form-field">
					<input name="contactName" type="text" id="contactName" placeholder="Ad Soyad" value="" minlength="2" required="" aria-required="true" class="full-width">
				</div>
				<div class="form-field">
					<input name="contactEmail" type="email" id="contactEmail" placeholder="Mail Adres" value="" required="" aria-required="true" class="full-width">
				</div>
				<div class="form-field">
					<input name="contactSubject" type="text" id="contactSubject" placeholder="Konu" value="" class="full-width">
				</div>
				<div class="form-field">
					<textarea name="contactMessage" id="contactMessage" placeholder="Mesajınız" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
				</div>
				<div class="form-field">
					<button class="full-width btn--primary">Gönder</button>
					<div class="submit-loader">
						<div class="text-loader">Sending...</div>
						<div class="s-loader">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
					</div>
				</div>

			</fieldset>
		</form>

		<!-- contact-warning -->
		<div class="message-warning">
			Something went wrong. Please try again.
		</div>

		<!-- contact-success -->
		<div class="message-success">
			Your message was sent, thank you!<br>
		</div>

	</div>
	<div class="col-four tab-full contact__infos">
		<h4 class="h06">Telefon</h4>
		@foreach (var item in Model)
		{
			<p>
				Phone:@item.Phone1<br>
				Mobile:@item.Phone2<br>
			</p>

			<h4 class="h06">Mail</h4>
			<p>
				@item.Email1
			</p>

			<h4 class="h06">Adres Bilgileri</h4>
			<p>
				@item.Address
			</p>
		}

	</div>

</div>
